[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.7"
bs4 = "*"
asgiref = "*"
chardet = "*"
django-multiselectfield = "*"
et-xmlfile = "*"
idna = "*"
jdcal = "*"
openpyxl = "*"
urllib3 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
